#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Parker_Avenue_ {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-TRAVELSHARE_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-facebook-icon {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-twitter-icon {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-instagram-icon {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_19 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_24 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_45 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_49 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-cities {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_54 > .valign {
  vertical-align: middle;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-activities_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_55 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_59 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_59 > .valign {
  vertical-align: middle;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-activities_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_60 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_64 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_64 > .valign {
  vertical-align: middle;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-activities_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_65 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_69 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_69 > .valign {
  vertical-align: middle;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-activities_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_70 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_74 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_74 > .valign {
  vertical-align: middle;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-activities_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_75 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_50 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_25 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Panel_20 > .valign {
  vertical-align: top;
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Shareyour_ultimate {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3148796e-a3be-472f-a348-56aff4c1ddfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}